<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minor 2</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <!-- Add WebSocket JS logic here: -->
    <script>
        let socket        = new WebSocket("ws://localhost:8000/ws/graph/");
        //add websocket functions here:
        socket.onopen     = function(e){
            alert("Connection Established");
        };
        //actual updation logic: (Target specific data array)
        socket.onmessage  = function(e){
            console.log(e.data);
            recvData                                  = JSON.parse(e.data);
            newActualData                             = actualData['data']['datasets'][0]['data'];
            newActualData.shift();
            newActualData.push(recvData.value);
            actualData['data']['datasets'][0]['data'] = newActualData;
            window.myChart.update()
        };

        socket.onclose  = function(e){
            alert("Connection Closed");
        };
    </script>
    <!--Add Custom Styles Here:-->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Arvo&family=Merriweather&display=swap');
        body{
            text-align: center;
            padding: 1%;
            font-size: 125%;
            background-color: #CFBCA4;
            font-family: 'Merriweather', serif;
        }
    </style>
</head>
<body>
    <div style="max-height: 700px; max-width: 500px;">
        <canvas id="myChart" width="400" height="400"></canvas>
        <script>
        //Add Data variable here:
        var actualData = {
            type: 'bar',
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    label: 'Real time data',
                    data: [50,40,30,25,45,65],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        }; 
        var ctx        = document.getElementById('myChart').getContext('2d');
        //pass Data variable here:
        window.myChart = new Chart(ctx, actualData);
        </script>
    </div>  
</body>
</html>
