{% extends 'base.html' %}
{% load static %}
{% block title %}
Second Page
{% endblock title %}
{% block css %}
{% endblock css %}
{% block content %}
<nav class="navbar" style="border-bottom: 2px solid rgb(124, 103, 72);">
    <div style="width: 1313px; margin:auto">
    <a class="navbar-brand" href="#">
      <!-- <img src="" width="30" height="30" class="d-inline-block align-top" alt=""> -->
      <h2 style="color:rgb(124, 103, 72);">Get Your Data</h2>
    </a>
    <a type="button" class="btn btn-link " style="float: right; color: rgb(124, 103, 72); font-weight:500; font-size:20px" href="{% url 'logout' %}">Logout</a>
        <a type="button" class="btn btn-link " style="float: right; color: rgb(124, 103, 72); font-weight:500; font-size:20px">{{user.username}}</a>
        <span><img src="{% static 'images/Human_icom.png' %}" alt="..."style= "height: 38px; float : right" ></span>
 </div>
</nav>
<div class="mt-5" style="max-width: 1313px; margin:auto">
    <h2 style="color: rgb(124, 103, 72);">{{SensorName}}</h2>
    <p>{{url}}</p>
</div>
<div class="mt-5" style="max-width: 1313px; margin:auto">
  <form action="{% url 'dis' idd %}" method = "POST">
    {% csrf_token %}
    <input type="hidden" name = "Method" value = "send">
    <button type="submit" class="btn btn-dark">Send</button>
    </form>
    
    <form action="{% url 'dis' idd %}" method = "POST">
      {% csrf_token %}
      <input type="hidden" name = "Method" value = "stop">
      <button type="submit" class="btn btn-dark">Stop</button>
      </form>
      
</div>
{% endblock content %}